.cuadrado{
    width: 100%;
    background-color: gray;
    margin: 2px;
}

.cuadrado:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.cruz{
width: 100%;
margin: 2px;
}

.colors{
    color: rgb(71, 188, 241)
}

/* .cruz:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */

.container{
    width: 40%;
    height: 100vh;
    margin-top: 50px;
    position: relative;
}

.puntRojo{
    background-color: 'red';
    height: 70;
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntCeleste{
    background-color:  rgb(71, 188, 241);
    height: 70;
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

  @media (max-width: 1400px){
      .container{
          width: 70%;
          
      }
  }

  @media (max-width: 1200px){
    .container{
        width: 90%;
        
    }
}


